In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.describe()

           robi     darwis    mauludin
count  20.00000   20.00000   20.000000
mean   10.50000   55.00000   64.500000
std     5.91608   30.86473   28.557421
min     1.00000   10.00000   20.000000
25%     5.75000   30.00000   40.000000
50%    10.50000   50.00000   60.000000
75%    15.25000   90.00000   82.500000
max    20.00000  110.00000  120.000000